span {
  color: #cccccc;
  vertical-align: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 300%;
}
.mdl-grid {
  height:100%;
}

#back{
  background-size: 100%;
  background-repeat: no-repeat;
}

#date_time{
  font-size: 30px;
  font-weight: lighter;
  color: white;
}

.layout-transparent {
  background: center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.material-icon{
  margin: auto;
  padding: 10px;
}
