span {
  color: #cccccc;
  vertical-align: 50%;
  text-align: center;
  font-family: sans-serif;
  font-size: 300%;
}
.mdl-grid {
  height:100%;
}

#back{
  background-size: 100%;
  background-repeat: no-repeat;
}

#date_time{
  font-size: 30px;
  font-weight: lighter;
  color: white;
}

.layout-transparent {
  background: center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.mdl-layout__drawer-button i{
  margin: auto;
  padding: 10px;
}

.mdl-chip__text{
  color: black;
}

#worldClockTime{
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.switchBtn{
  display: inline-block !important;
  vertical-align: 0;
  font-size: 100%;
}

.switchWidth
{
  width: 60%;
  text-align: center;
}
.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type {
  /* padding: 0; */

}
.mdl-cell--4-col
{
  display: flex;
  justify-content: center;
}

.mdl-card
{
  width: auto;
  height: auto;
  background: white;
  position: absolute;
  min-height: auto;
}

.mdl-card__media
{
  background: transparent;
}
.mdl-card__media img
{
  padding:20px;
}

.mdl-card__media div, #weather-temperature div
{
  display: inline-block;
}


